### Text MIning and NLP

Natural Language Processing is a study of linguistics, computer science and statistics.
*Terminology:*<br>
**Corpus**= A collection of all documents.<br>
**Document**= A collection of sentences.<br>
**Sentence**= A collection of words in a meaning full arrangement.<br>
**Word Token** = number of words in a given sentence.<br>
**Word Type**= Number of distinct words in a given sentence.<br>

*TEXT Preprocessing:*
1) Sentence Segmentation: Breaking down of a paragraph or a document into multiple sentences.<br>
2) Word Tokenization: Breaking dowm of sentences into words.<br>
3) Word Normalization: Stemming and Lemmetization<br>
4) Stop Word Removal : Certain type of words that are present frequently adding possible noise in data, hence need to be seperated out.
<br>
**Stemmming** : Strips the words off all its suffixes.Eg: Automation-> automat.
Stemming is done to reduces words to its root as the meaning remains the same. Hence it doesnt have to remember the different root-suffix combinations' meanings.<br>
The disadvantage is that it doesnt consider the meaning of the word before cutting off its suffix.
 *This is fixed in LEMMETIZATION*<br>
**Lemmetization** : Doesnt simply chop off the suffixes but it focuses on the knowledge/dictionary like 'WordNet' to obtain a a correct form of the words.
It finds the meaning of the word on WordNet before chopping its suffix.
<br>
N-grams

In [1]:
text1="We have received a number of reports relating to alleged antisemitic tweets posted on social media. The Met takes all reports of antisemitism extremely seriously. The relevant material is being assessed."
tokens=text1.split(' ')  #split(reference character for placing the splits )
len(tokens)
print(tokens,len(tokens))

['We', 'have', 'received', 'a', 'number', 'of', 'reports', 'relating', 'to', 'alleged', 'antisemitic', 'tweets', 'posted', 'on', 'social', 'media.', 'The', 'Met', 'takes', 'all', 'reports', 'of', 'antisemitism', 'extremely', 'seriously.', 'The', 'relevant', 'material', 'is', 'being', 'assessed.'] 31

In [2]:
print([i for i in tokens if len(i)>3])#to get words with more than 3 alphabets
print([i for i in tokens if i.istitle()==True]) #words that start with capital letters
print([i for i in tokens if i.isupper()==True]) #words that are all capital letters
print([i for i in tokens if i.islower()==True]) #words that are all small letters
print([i for i in tokens if i.endswith('s')])# get words that ends with ...
print(set(text1),len(set(text1)))# set fn gives out unique words in the sentence
print([i for i in tokens if i.startswith('a')])# get words that strats with ...

['have', 'received', 'number', 'reports', 'relating', 'alleged', 'antisemitic', 'tweets', 'posted', 'social', 'media.', 'takes', 'reports', 'antisemitism', 'extremely', 'seriously.', 'relevant', 'material', 'being', 'assessed.']
['We', 'The', 'Met', 'The']
[]
['have', 'received', 'a', 'number', 'of', 'reports', 'relating', 'to', 'alleged', 'antisemitic', 'tweets', 'posted', 'on', 'social', 'media.', 'takes', 'all', 'reports', 'of', 'antisemitism', 'extremely', 'seriously.', 'relevant', 'material', 'is', 'being', 'assessed.']
['reports', 'tweets', 'takes', 'reports', 'is']
{'b', 'd', 'n', 'l', 'h', 's', 't', 'W', 'm', 'i', 'w', 'v', 'c', 'e', 'T', 'g', 'u', 'k', ' ', 'r', 'p', 'f', 'y', '.', 'x', 'a', 'o', 'M'} 28
['a', 'alleged', 'antisemitic', 'all', 'antisemitism', 'assessed.']

In [3]:
print([i for i in tokens if i.isalpha()])#word that are alphabetical format
print([i for i in tokens if i.isdigit()])#words that are numeric format
print([i for i in tokens if i.isalnum()])#words that are alphanumeric format

['We', 'have', 'received', 'a', 'number', 'of', 'reports', 'relating', 'to', 'alleged', 'antisemitic', 'tweets', 'posted', 'on', 'social', 'The', 'Met', 'takes', 'all', 'reports', 'of', 'antisemitism', 'extremely', 'The', 'relevant', 'material', 'is', 'being']
[]
['We', 'have', 'received', 'a', 'number', 'of', 'reports', 'relating', 'to', 'alleged', 'antisemitic', 'tweets', 'posted', 'on', 'social', 'The', 'Met', 'takes', 'all', 'reports', 'of', 'antisemitism', 'extremely', 'The', 'relevant', 'material', 'is', 'being']

In [4]:
text1.splitlines()
tokens[2].join('new-word')
text2=" n this video we're going to talk about handling text in Python. Let's first start looking at primitive constructs in text.  "
text2.strip()#removes whitespace chars like space,tabs,etc present before the first word
text2.rstrip()#removes whitesppacee characters like space,tabs,etc present after the last word

" n this video we're going to talk about handling text in Python. Let's first start looking at primitive constructs in text."

In [5]:
text2.rfind('text')
text2.find('talk')
text2.replace(' n','In')    #replace(initial,final)

"In this video we're going to talk about handling text in Python. Let's first start looking at primitive constructs in text.  "

In [6]:
###Split and Joining

text3='btfbubththjvuygtfybbtbbvydhbhbgfthbtkjhyubt'
text4=text3.split('bt')
print(text4)
word='pine'
word.join(text4)

['', 'fbu', 'hthjvuygtfyb', 'bbvydhbhbgfth', 'kjhyu', '']

'pinefbupinehthjvuygtfybpinebbvydhbhbgfthpinekjhyupine'

In [7]:
list(text1)

['W',
 'e',
 ' ',
 'h',
 'a',
 'v',
 'e',
 ' ',
 'r',
 'e',
 'c',
 'e',
 'i',
 'v',
 'e',
 'd',
 ' ',
 'a',
 ' ',
 'n',
 'u',
 'm',
 'b',
 'e',
 'r',
 ' ',
 'o',
 'f',
 ' ',
 'r',
 'e',
 'p',
 'o',
 'r',
 't',
 's',
 ' ',
 'r',
 'e',
 'l',
 'a',
 't',
 'i',
 'n',
 'g',
 ' ',
 't',
 'o',
 ' ',
 'a',
 'l',
 'l',
 'e',
 'g',
 'e',
 'd',
 ' ',
 'a',
 'n',
 't',
 'i',
 's',
 'e',
 'm',
 'i',
 't',
 'i',
 'c',
 ' ',
 't',
 'w',
 'e',
 'e',
 't',
 's',
 ' ',
 'p',
 'o',
 's',
 't',
 'e',
 'd',
 ' ',
 'o',
 'n',
 ' ',
 's',
 'o',
 'c',
 'i',
 'a',
 'l',
 ' ',
 'm',
 'e',
 'd',
 'i',
 'a',
 '.',
 ' ',
 'T',
 'h',
 'e',
 ' ',
 'M',
 'e',
 't',
 ' ',
 't',
 'a',
 'k',
 'e',
 's',
 ' ',
 'a',
 'l',
 'l',
 ' ',
 'r',
 'e',
 'p',
 'o',
 'r',
 't',
 's',
 ' ',
 'o',
 'f',
 ' ',
 'a',
 'n',
 't',
 'i',
 's',
 'e',
 'm',
 'i',
 't',
 'i',
 's',
 'm',
 ' ',
 'e',
 'x',
 't',
 'r',
 'e',
 'm',
 'e',
 'l',
 'y',
 ' ',
 's',
 'e',
 'r',
 'i',
 'o',
 'u',
 's',
 'l',
 'y',
 '.',
 ' ',
 'T',
 'h',
 'e',
 ' ',
 'r',
 'e',
 'l',
 'e',
 'v',
 'a',
 'n',
 't',
 ' ',
 'm',
 'a',
 't',
 'e',
 'r',
 'i',
 'a',
 'l',
 ' ',
 'i',
 's',
 ' ',
 'b',
 'e',
 'i',
 'n',
 'g',
 ' ',
 'a',
 's',
 's',
 'e',
 's',
 's',
 'e',
 'd',
 '.']

### File Handling

In [8]:
f=open('example.txt','r')
f.readline()
#f.readline().rstrip()

'txt2html/HTML::TextToHTML Sample Conversion\n'

In [9]:
len(f.read())

9339

In [10]:
f.write('latest commit')

UnsupportedOperation: not writable

In [11]:
f.close()

### Regular Expressions

### Character(s)	What it does<br>
.	A period. Matches any single character except the newline character.<br>
^	A caret. Matches a pattern at the start of the string.<br>
\A	Uppercase A. Matches only at the start of the string.<br>
_$$$$	Dollar sign. Matches the end of the string. <br>
(\+z)	Uppercase Z. Matches only at the end of the string.<br>
[ ]	Matches the set of characters you specify within it.<br>
\	∙ If the character following the backslash is a recognized escape character, then the special meaning of the term is taken.<br>
∙ Else the backslash () is treated like any other character and passed through.
∙ It can be used in front of all the metacharacters to remove their special meaning.<br>
\w	Lowercase w. Matches any single letter, digit, or underscore.<br>
\W	Uppercase W. Matches any character not part of \w (lowercase w).<br>
\s	Lowercase s. Matches a single whitespace character like: space, newline, tab, return.<br>
\S	Uppercase S. Matches any character not part of \s (lowercase s).<br>
\d	Lowercase d. Matches decimal digit 0-9.<br>
\D	Uppercase D. Matches any character that is not a decimal digit.<br>
\t	Lowercase t. Matches tab.<br>
\n	Lowercase n. Matches newline.<br>
\r	Lowercase r. Matches return.<br>
\b	Lowercase b. Matches only the beginning or end of the word.<br>
+	Checks if the preceding character appears one or more times.<br>
*	Checks if the preceding character appears zero or more times.<br>
?	∙ Checks if the preceding character appears exactly zero or one time.<br>
∙ Specifies a non-greedy version of +, *<br>
{ }	Checks for an explicit number of times.<br>
( )	Creates a group when performing matches.<br>
< >	Creates a named group when performing matches.<br>

In [12]:
text5='The climate crisis impacts everyone, but young people will face the biggest consequences over their lifetime.@UN SG @antonioguterres has launched a new Youth Advisory Group on Climate Change for bold #ClimateAction. We warmly welcome these amazing climate leaders!'

In [13]:
text6=text5.split(' ')
text6
print([txt for txt in text6 if txt.startswith('@')])
print([txt for txt in text6 if txt.startswith('#')])

['@antonioguterres']
['#ClimateAction.']

In [14]:
###Using RegEx

In [15]:
import re
print([txt for txt in text6 if re.search('@[A-Za-z0-9_]+',txt)])
print([txt for txt in text6 if re.search('#[A-Za-z0-9_]+',txt)])

#the '+' stands for anything in the bracket can be repeated multiple times

['lifetime.@UN', '@antonioguterres']
['#ClimateAction.']

In [ ]:
###Using RegEx using Pandas

In [16]:
import numpy as np
import pandas as pd

sentence=[{'Monday: The doctors appointment is at 2:45pm.'},{'Tuesday: The dentists appointment is at 11:30 am.'},{'Wednesday: AT4t 7:00pm , there is a basketball game!'},{"Thursday: Be back home by 11:15pm at the latest"}]

In [21]:
doc=pd.DataFrame(sentence,columns=['text'])
doc

                                                text
0      Monday: The doctors appointment is at 2:45pm.
1  Tuesday: The dentists appointment is at 11:30 am.
2  Wednesday: AT4t 7:00pm , there is a basketball...
3    Thursday: Be back home by 11:15pm at the latest

In [22]:
doc['text'].str.len()

0    45
1    49
2    52
3    47
Name: text, dtype: int64

In [27]:
doc['text'].str.split()

0    [Monday:, The, doctors, appointment, is, at, 2...
1    [Tuesday:, The, dentists, appointment, is, at,...
2    [Wednesday:, AT4t, 7:00pm, ,, there, is, a, ba...
3    [Thursday:, Be, back, home, by, 11:15pm, at, t...
Name: text, dtype: object

In [29]:
doc['text'].str.contains('there')

0    False
1    False
2     True
3    False
Name: text, dtype: bool

In [66]:
doc['text'].str.findall(r'^Monday') # r'\d' denotes digits

0    [Monday]
1          []
2          []
3          []
Name: text, dtype: object

In [37]:
doc['text'].str.findall(r'\D') # r'\D' denotes alphabets

0    [M, o, n, d, a, y, :,  , T, h, e,  , d, o, c, ...
1    [T, u, e, s, d, a, y, :,  , T, h, e,  , d, e, ...
2    [W, e, d, n, e, s, d, a, y, :,  , A, T, t,  , ...
3    [T, h, u, r, s, d, a, y, :,  , B, e,  , b, a, ...
Name: text, dtype: object

In [44]:
doc['text'].str.findall(r'(\d?\d):(\d\d)')

0     [(2, 45)]
1    [(11, 30)]
2     [(7, 00)]
3    [(11, 15)]
Name: text, dtype: object

In [49]:
doc['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15

In [51]:
doc['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0       11:15pm  11  15  pm

In [52]:
doc['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0       11:15pm   11     15     pm